.wrapper {
    padding: 80px 20px 20px;
}

.imageColumn {
    display: flex;
    flex-wrap: wrap;

}

.image {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 15px;
}

.title {
    font-weight: 600;
    margin-bottom: 0;
}

.infoCol {
    border-right: 1px solid #e0e0e0;
}

.totalRatings
{
    font-size: 0.75rem;
    margin-left: 3px;
    margin-top: 2px;
}
