.wrapper {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.uploadBookContainer {
    height: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}

.descriptionField {
    max-height: 250px;
}

.successImage {
    width: 100%;
}