.nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 50%;
}

.account:hover {
    background-color: rgba(211, 211, 211, 0.5);
}